

h1{
    padding-top: 20px;
    font-size: 32px;
    color: #fff;
    font-family: "Kumbh Sans", sans-serif;
}

h2{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 22px;
}

hr{
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
}

p{
    font-size: 16.5px;
    font-family: "Bitter", serif;
    color:#d7d7d7;
}